{% extends 'layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='auth/style.css') }}">
{% endblock %}


{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block body %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"
/>
  </form>
{% endblock %}