{% extends 'layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='auth/style.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="my-5 vh-75">
  <div class="container-fluid h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-9 col-lg-6 col-xl-5 mb-5 text-center">
        <img src="https://www.seekpng.com/png/full/6-66898_coffee-mug-top-png-pic-coffee-cup-top.png"
          class="img-fluid w-50 m-5" alt="Filled Coffee mug image">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h4>Register</h4>
        <form action="" method="post">

          <!-- username input -->
          <div class="form-outline mb-4">
            <input type="text" name="username" id="username" class="form-control form-control-lg"
              placeholder="Enter username" autofocus required/>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="email" id="email" class="form-control form-control-lg"
              placeholder="Enter email address" required/>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="password" id="password" class="form-control form-control-lg"
              placeholder="Enter password" required/>
          </div>

          <!-- Password confirmation -->
          <div class="form-outline mb-4">
            <input type="password" name="password-repeat" id="password-repeat" class="form-control form-control-lg"
              placeholder="Repeat password" required/>
          </div>

          <!-- Group name -->
          <div class="form-outline mb-4">
            <h5>Group name:</h5>
            <input type="text" name="group-name" id="group-name" class="form-control form-control-lg"
              placeholder="Insert a group name" required/>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            
          </div>

        </form>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}