<div class="modal fade" id="CoffeeModal" tabindex="-1" aria-labelledby="CoffeeModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CoffeeModal-title">EDIT COFFEE GROUP INFO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/API/save_group_info" method="post">
                <!-- Group name -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Group</span>
                    </div>
                    <input class="form-control" type="text" placeholder="Group name" name="group-name" value="{{group.group_name}}">
                </div>

                <!-- Admin name -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Admin</span>
                    </div>
                    <input class="form-control" type="text" placeholder="Admin username" value="{{group.username}}" readonly>
                </div>

                <!-- Admin email -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                    </div>
                    <input class="form-control" type="email" placeholder="Input a valid email" name="email" value="{{group.email}}" required>
                </div>

                <!-- Monthly price -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Monthly R$</span>
                    </div>
                    <input class="form-control" type="number" name="monthly-price" value="{{group.monthly_price}}" required>
                </div>

                <!-- Group contributors -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Contributors</span>
                    </div>
                    <input class="form-control" type="number" placeholder="Admin username" value="{{group.people | length}}" readonly>
                </div>

                <div class="input-group mb-3 d-flex justify-content-around">
                    <input class="btn btn-primary w-25" type="submit" onclick="return confirmSubmit()" value="Save">
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>