#overlay {
    position: fixed; /* Sit on top of the page content */
    max-height: max-content;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

div#coffee-table
{   
    margin: 1% 2% 0 2%;
    padding: 5px;
}

#col-name
{
    min-width: 175px;
}

#coffee-table td, #coffee-table th
{
    vertical-align: middle;
    max-height: min-content;
    max-width: min-content;
    padding: 2px;
}

#coffee-table tr:hover
{
    background-color: lightskyblue;
}

.header-title
{
    display: inline-flex;
    height: auto;
    max-width: fit-content;
}

#header-img
{
    display: contents;
    height: auto;
    width: 150px;
    margin: auto;
}

#header-img svg
{
    object-fit: scale-down;
    max-height: 100%;
}

#header-title-text
{
    margin: auto 0;
    margin-left: 20px;
}

.header-tools
{
    width: 50%;
    margin: auto 10px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

#header-filter
{
    display: flex;
    justify-content: space-around;
    min-width: fit-content;
    align-items: center;
}

header
{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 5%;
    max-height: 150px;
    background-color: lightgray;
}

element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.ui-datepicker{
    z-index: 99999 !important
};